@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400;500&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

:root {
  --bg: linear-gradient(315deg, rgb(110, 114, 252) 0%, rgb(173, 29, 235) 74%);
}
body {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a,
img,
span,
input,
button {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

/* # RESUSED STYLE  */

.section {
  padding-block: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #203656;
}

.section-subtitle a {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #203656;
  transition: 0.25s ease;
}

.section-subtitle:is(:hover, :focus-within) a {
  color: #ad1deb;
}

.text-title a {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #203656;
  transition: 0.25s ease;
}

.text-title:is(:hover, :focus-within) a {
  color: #ad1deb;
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #8f9bad;
}

.time {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8f9bad;
}

.img-holder {
  overflow: hidden;
  border-radius: 6px;
}

.img-holder img {
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.img-holder:is(:hover, :focus-within) img {
  transform: scale(1.1);
}

a.badge {
  background-image: var(--bg);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}

/* #HEADER  */

.site-wrapper .main-overlay {
  opacity: 0;
  visibility: hidden;
  filter: blur(2px);
  background: #fff;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.site-wrapper .main-overlay.active {
  opacity: 0.6;
  visibility: visible;
}

.header-default {
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.header-default .navbar-nav {
  margin-left: 50px;
}

.header-default.clone {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  right: 0;
  padding: 0;
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.7);
  z-index: 4;
}

body.down .header-default.clone {
  transform: translateY(0);
}

/* #HERO  */

.thumb::after {
  content: "";
  background: #203656;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.thumb img {
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.thumb:is(:hover, :focus-within) img {
  transform: scale(1.1);
}

.category-banner {
  position: relative;
}

.img-content {
  position: absolute;
  left: 45px;
  bottom: 45px;
}

.img-content a.badge {
  background-image: var(--bg);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}

.img-content a.post-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  margin-block: 15px;
  color: #fff;
  transition: 0.25s ease;
}

.img-content h3:is(:hover, :focus) a.post-title {
  color: #e098ff;
}

.inspiration a.post-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  margin-block: 15px;
  color: #fff;
  transition: 0.25s ease;
}

.inspiration h3:is(:hover, :focus) a.post-title {
  color: #e098ff;
}

.meta-inline :is(a, .time) {
  color: #ccc;
  transition: 0.25s ease;
}

.meta-inline:is(:hover, :focus) a {
  color: #e098ff;
}

/* #HERO RIGHT SIDE  */

rounded {
  border-radius: 10px !important;
}

.bordered {
  border: 1px solid #ebebeb;
}

.post-tabs {
  padding: 30px;
}

.post-tabs .tab-content {
  margin-top: 30px;
}

.nav-tabs {
  border-bottom: 0;
}

.tab-content {
  position: relative;
}

.tab-pane {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.tab-pane.loading {
  opacity: 0.3;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  right: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.lds-dual-ring.loading {
  visibility: visible;
  opacity: 1;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ad1deb transparent #ad1deb transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-fill .nav-item,
.nav-fill > .nav-link {
  margin-right: 10px;
}

.nav-fill .nav-item:last-child,
.nav-fill > .nav-link:last-child {
  margin-right: 0;
}

.nav-fill .nav-item > .nav-link {
  color: #8f9bad !important;
  margin-right: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #6e72fc;
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  border-color: transparent;
  background-size: 200% auto;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 1px solid #ebebeb;
  border-radius: 30px;
}

.post.post-list-sm {
  clear: both;
}

.post.post-list-sm.circle .thumb {
  max-width: 60px;
}

.post.post-list-sm.circle .details {
  margin-left: 80px;
}

.post.post-list-sm .thumb {
  float: left;
  position: relative;
}

.post .thumb {
  position: relative;
}

.post .thumb.rounded .inner {
  border-radius: 10px;
  overflow: hidden;
}

.post .thumb.circle .inner {
  overflow: hidden;
  border-radius: 50%;
}

.post.post-list-sm .post-title {
  font-size: 15px;
}

.post.post-list-sm::after {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  background: #ebebeb;
  background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post.post-list-sm:last-child::after {
  content: "";
  display: none;
}

/* # EDITOR  */
.img-banner {
  position: relative;
}

.img-banner .bx {
  background-color: #ad1deb;
  color: #fff;
  position: absolute;
  bottom: -35px;
  right: 25px;
}

.img-banner a.badge {
  position: absolute;
  top: 25px;
  left: 25px;
}

/* # widget  */
.widget {
  position: relative;
}

.widget .img-cover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* # latest post  */

.icon-banner {
  position: relative;
}

.icon-banner .bx {
  background-color: #ad1deb;
  color: #fff;
  position: absolute;
  top: 25px;
  left: 25px;
}

.latest-post a {
  color: #8f9bad;
  transition: 0.25s ease;
}
.latest-post li {
  color: #8f9bad;
  transition: 0.25s ease;
}

.latest-post li:is(:hover, :focus) a {
  color: #ad1deb;
}

.latest-post .text-subtitle a {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ad1deb;
  transition: 0.25s ease;
}

.latest-post .text-subtitle a:is(:hover, :focus) {
  color: #203656;
}